<!DOCTYPE html>
<head>
    <link href="https://cdn.discordapp.com/attachments/857059426703900712/858423208537751602/icon.png" rel="icon">
    <link href="../static/styles/form.css" rel="stylesheet" type="text/css">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div id="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#survey">Survey</a>
    </div>
</nav>
<main>
    <div class="row base" id="home">
        <div class="col-md-12">
            <img src="../static/leafy.png">
        </div>
    </div>
    <div class="row my-auto" id="#about">
        <div class="col-md-3 offset-2">
            <img src="https://i.pinimg.com/originals/2c/9c/9b/2c9c9b52e727418bf9878460eb66dd8c.png">
        </div>
        <div class="col-md-3 my-auto offset-2">
            <div>
                <h2>Mission Statement</h2>
                <p>
                    In the past 2 years alone, 59 million people have seeked mental health treatment in the US. However,
                    finding the right psychologist that fits your needs shouldn't have to be a headache. Here at
                    PyschoMatch we believe finding the right psychologist is the difference between recieving high
                    quality treatment and treatment that dissapoints. On they way, we would like to make a large impact
                    on the millions who suffer from mental illnesses every year.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row my-auto">
        <div class="col-md-3 my-auto offset-2">
            <div>
                <h2>Our Survey</h2>
                <p>PsychoMatch effectively matches up the patient and the psychologist. This is done through a simple
                    survey that connects the dots of preference and helps matchmake between patient and doctor
                    seamlessly. If your a psychologist, fill out our simple form and get notified when you get matched.
                    If your a patient, fill out our survey to map out your perfect psychologist and get matched
                    instantly!
                </p>
            </div>
        </div>
        <div class="col-md-3 offset-2">
            <img src="https://i.pinimg.com/originals/48/50/ee/4850eefcbdaf3d4a9ade823c0829cc71.jpg">
        </div>
    </div>
    <div class="footer" id="survey">
        <h2>Surveys</h2>
        <p>Take the short survey to be matched to the perfect psychologist or patient!</p>
        <button class="btn btn-outline-dark btn-lg tan" id="button_patient" type="button">Patient</button>
        <button class="btn btn-outline-dark btn-lg tan" id="button_psychologist" type="button">Psychologist</button>
    </div>
</main>
<script src="../static/scripts/home.js"></script>
</body>
</html>